@import '../../../../utilities/spacing.scss';

.container {
  display: flex;

  width: 700px;
  height: 500px;

  background: lightyellow;
}

.options {
  width: 150px;
  margin: spacing();

  background: lightGrey;
}

.selectedOption {
  width: 100%;
  margin: spacing();

  background: white;
}
