@import '../../../../utilities/spacing.scss';

.container {
  position: relative;

  width: 900px;
  height: 600px;

  background-image: url('../../../../art/ActionItems/GMContainer.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.gmCloseButton {
  position: absolute;
  top: 20px;
  right: 6px;
}
