@import '../../../../../utilities/spacing.scss';
@import '../../../../../utilities/colors.scss';

$tab-height: 35px;
$icon-position: 20px;

.tabList {
  position: absolute;
  top: 85px;
  left: 30px;

  width: 190px;
  height: 494px;
}

.tab {
  cursor: pointer;
  height: $tab-height;

  background-image: url('../../../../../art/ActionItems/GM/TabBackground.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  margin: spacing(extraTight) 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.tabText {
  margin-left: $icon-position + 15;
}

.tabIcon {
  position: absolute;
  left: -1 * $icon-position;

  width: 68px;
  height: 68px;

  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.tabIconBackground {
  position: absolute;

  width: $tab-height + 5;
  height: $tab-height + 5;

  background: radial-gradient(closest-side, black, transparent);
}

.selectedTab {
  background-image: url('../../../../../art/ActionItems/GM/TabBackground-selected.png');
}

.selectedTabContent {
  position: absolute;
  top: 75px;
  right: 25px;

  width: 625px;
  height: 500px;
}
