@import '../../../../../utilities/colors.scss';
@import '../../../../../utilities/spacing.scss';

$questTitleFontSize: 15px;

.sectionHeaderSize {
  height: 35px;
}

.sectionHeader {
  width: 270px;
  height: 70px;

  background-image: url('../../../../../art/QuestList/Frame.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  margin-top: 10px;
}

.sectionTitleText {
  position: relative;
  top: 13px;
  left: 25px;

  font-size: $questTitleFontSize;
  font-weight: 500;
  color: color(yellow);
  text-shadow: 1px 0 0 color(ink, light);
  cursor: default;
}
