@import '../../../../../utilities/spacing.scss';
@import '../../../../../utilities/colors.scss';

$fontSize: 13px;

.questContainer {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;

  padding: spacing(tight);
  cursor: pointer;
}

.questIcon {
  background-image: url('../../../../../art/QuestList/QuestIconBlank.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  width: 26px;
  height: 22px;
}

.questIconSymbol {
  position: relative;
  top: 5px;
  left: 7px;

  background-image: url('../../../../../art/QuestList/QuestionMark.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  width: 8px;
  height: 11px;
}

.questDetailsText {
  width: 100%;
  flex-direction: column;
  padding: spacing(extraTight) 0 0 spacing(extraTight);
}

.title {
  font-size: $fontSize;
  color: color(yellow, dark);
  text-shadow: 1px 1px 0 color(ink, light);

  padding-bottom: spacing(extraTight);
}

.objective {
  font-size: $fontSize;
  color: white;
  text-shadow: 1px 1px 0 color(ink, light);
}
