@import '../../../../../utilities/colors.scss';
@import '../../../../../utilities/spacing.scss';

.createQuestBackground {
  position: relative;
  height: 420px;
  width: 355px;

  background-image: url('../../../../../art/Quest/QuestBackground.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.createQuestContentArea {
  top: 50px;
}

.textHoverGlow:hover {
  text-shadow: spacing(extraTight) / 2 spacing(extraTight) / 2 spacing(tight)
    color(red, dark);
}

.testElements {
  margin-top: spacing(tight);
}
