@import '../../../utilities/colors.scss';

.typography {
  user-select: none;
}

.heading {
  font-family: 'Morpheus';
  font-weight: 500;
}

.content {
  font-family: 'Friz Quadrata';
}

.smallText {
  font-size: 11px;
}

.defaultText {
  font-size: 13px;
}

.largeText {
  font-size: 16px;
}

.yellow {
  color: color(yellow);
}

.green {
  color: color(green);
}

.white {
  color: white;
}

.black {
  color: black;
}
