@import '../../../utilities/colors.scss';

.heading {
  font-family: 'Morpheus';
  font-weight: 500;
}

.content {
  font-family: 'Friz Quadrata';
}

.yellow {
  color: color(yellow);
}

.green {
  color: color(green);
}

.white {
  color: white;
}

.black {
  color: black;
}
