@import '../../../utilities/spacing.scss';

.layout {
  display: flex;
  flex-direction: column;
  height: 445px;
}

.questHeaderActions {
  height: 80px;
}

.questContentArea {
  margin: spacing() 45px spacing() 40px;
  height: 305px;
}

.questContentHeaderText {
  font-family: 'Morpheus';
  font-weight: 500;
  font-size: 18px;
}

.questContentDescription {
  font-family: 'Friz Quadrata';
  font-size: 13px;
  padding: spacing(extraTight) 0 spacing(tight) 0;
}

.questButton {
  margin: 0 0 0 18px;
}
