@import '../../../utilities/spacing.scss';

.quest {
  position: relative;
  height: 440px;
  width: 355px;

  background-image: url('../../../art/Quest/Greeting/OneButtonQuest.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 5px;
}

.contentArea {
  position: absolute;
  top: 90px;
  left: 40px;
  width: 270px;
}

.questContentHeaderText {
  font-family: 'Morpheus';
  font-weight: 500;
  font-size: 18px;
}

.questContentDescriptionText {
  font-family: 'Friz Quadrata';
  font-size: 13px;
  padding: spacing(extraTight) 0 spacing(tight) 0;
}

.completeButton {
  position: absolute;
  bottom: 3px;
  left: 24px;
}
