@import '../../../utilities/colors.scss';

$minimizeButtonSize: 18px;

.button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  height: 25px;
  min-width: 80px;
  padding: 0 14px;

  font-size: 11px;
  color: color(yellow);
  text-shadow: 1px 1px 0 color(ink);

  background-repeat: no-repeat;
  background-size: 100% 100%;

  &:hover {
    color: white;
    text-shadow: none;

    &:active {
      color: color(yellow);
    }
  }
}

.large {
  height: 40px;
  font-size: 16px;
}

.minimize {
  min-width: 0;
  padding: 0;

  height: $minimizeButtonSize;
  width: $minimizeButtonSize;
}

.actionItem {
  min-width: 0;
  padding: 0;

  height: 36px;
  width: 29px;
}
